Question 1.

In [150]:
n = int(input("Enter a natural number: "))
summation=0
for i in range(n):
    if i % 2 != 0:
        summation = summation+(i + 3)
print("Summation result:", summation)

Enter a natural number:  3

Summation result: 4

In [ ]:
b.

In [30]:
n = int(input("Enter a natural number: "))
product = 1
for i in range(n):
    if i % 2 == 0:
        product *= i + 3
print("Product result:", product)

Enter a natural number:  4

Product result: 15

In [ ]:
Question 2.

In [28]:
day = int(input("Enter the number of the day (0-6): "))
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
if day in range(6):
    print("It's a working day:", days[day])
else:
    print("It's the weekend:", days[day])

Enter the number of the day (0-6):  5

It's a working day: Friday

In [ ]:
Question 3.

In [32]:
month = int(input("Enter a month number (0-11): "))
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
print("Days in month:", days_in_month[month])

Enter a month number (0-11):  3

Days in month: 30

In [ ]:
Question 4.

In [34]:
#  for loop
i=0
for i in range(3):
    print("Linda")

Linda
Linda
Linda

In [42]:
i = 0
while (i < 3):
    print("Linda")
    i += 1

Linda
Linda
Linda

Question 5.

In [60]:
a0 = int(input("Enter the first number: "))
a1 = int(input("Enter the second number: "))
fib_sequence = [a0, a1]
for i in range(2, 15):
    fib_sequence.append(fib_sequence[-2] + fib_sequence[-1])
print("First 15 terms of Fibonacci sequence:", fib_sequence)

Enter the first number:  0
Enter the second number:  1

First 15 terms of Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
Question 6.`

In [43]:
x0=0
x1=1
sequence = [x0, x1]
for i in range(30):
    sequence.append(sequence[-2] + sequence[-1])
print("30 terms of fibonacci sequence are: ", sequence)

30 terms of fibonacci sequence are:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269]

In [ ]:
Question 7.a

In [152]:
year=int(input("enter the year: "))
if(year % 4 ==0 and year % 100 !=0 or year%400==0 ):
    print(f"{year} is a leap year")  
else:
    print(f"{year} is not a leap year")

enter the year:  100

100 is not a leap year

In [ ]:
b.

In [153]:
n=int(input("enter the natural number: "))
sum=0
for i in range(n+1):
    #square=i**2
    sum=sum + i**2
#summation = sum( i**2 for i in range(9))
print("sum of squares is ",sum)

enter the natural number:  3

sum of squares is  14

In [ ]:
Question 8.

In [162]:
user_input=int(input("enter the natural number: "))
k=1
sum_while=0
while k<(user_input+1):
    sum_while=sum_while+(k**2)
    k=k+1
print("The sum is ", sum_while)

enter the natural number:  3

The sum is  14

In [ ]:
b.

In [124]:
# Finding smallest n such that sum of squares >= M
M = int(input("Enter M: "))
n = 1
sum_of_squares = 0
while sum_of_squares < M:
    sum_of_squares += n ** 2
    n += 1
print("Smallest n:", n)

Enter M:  9

Smallest n: 4

In [ ]:
Question 9.

In [ ]:
a.

In [167]:
natural_number=int(input("enter the natural number: "))
for i in range(1,natural_number):
    if (natural_number % i ==0):
        print("the divisors are :", i)

enter the natural number:  6

the divisors are : 1
the divisors are : 2
the divisors are : 3

In [182]:
get_input=int(input("Enter value of natural number : "))
p_factors=[]
while get_input % 2 == 0:
    p_factors.append(2)
    get_input =get_input//2
for i in range (3,int(get_input**0.5)+1,2):
    while get_input % i == 0:
       p_factors.append(i)
       get_input=get_input//i
if(get_input>2):
    p_factors.append(get_input)
print(p_factors)

Enter value of natural number :  25

[5, 5]

In [175]:
a=5
print(a//2)

2

In [ ]:
Question 10.

In [127]:
x = int(input("Enter a number between 0 and 9: "))
N = int(input("Enter another number: "))
for i in range(1, N + 1):
    print(f"{x} * {i} = {x * i}")

Enter a number between 0 and 9:  6
Enter another number:  3

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18

In [ ]:
11.

In [128]:
multiples = [i for i in range(41) if i % 3 == 0 or i % 7 == 0 or i % 11 == 0]
print("Multiples of 3, 7, or 11:", multiples)

Multiples of 3, 7, or 11: [0, 3, 6, 7, 9, 11, 12, 14, 15, 18, 21, 22, 24, 27, 28, 30, 33, 35, 36, 39]

In [ ]:
12.

In [129]:
import math

x = float(input("Enter a floating-point number: "))
print("Floor value:", math.floor(x))

Enter a floating-point number:  2.5

Floor value: 2

In [ ]:
13.

In [149]:
while True:
    
    x = float(input("Enter x coordinate : "))
    y = float(input("Enter y coordinate : "))
    if x == 0 and y == 0:
        print("Point is at the origin.")
    elif x == 0:
        print("Point is on the y-axis.")
    elif y == 0:
        print("Point is on the x-axis.")
    elif x > 0 and y > 0:
        print("1st Quadrant")
    elif x < 0 and y > 0:
        print("2nd Quadrant")
    elif x < 0 and y < 0:
        print("3rd Quadrant")
    else:
        print("4th Quadrant")
    read_user=input("Type q to quit or any key to continue")
    if(read_user.lower()=="q"):
        print("Goodbye!")
        break

Enter x coordinate :  3
Enter y coordinate :  4

1st Quadrant

Type q to quit or any key to continue q

Goodbye!

In [ ]:
14.

In [163]:
while True:
    x = int(input("Enter an integer between 0 and 9: "))
    if 0 <= x < 10:
        maximu_val = int(input("Enter another integer between 0 and 255: "))
        if 0 <= max_val < 256:
            multiples = [i for i in range(x, maximu_val + 1, x)]
            print("Multiples of", x, "up to", maximu_val, ":", multiples)
            cont = input("Do you want to continue? (yes/no): ")
            if cont.lower() != "yes":
                break

Enter an integer between 0 and 9:  6
Enter another integer between 0 and 255:  77

Multiples of 6 up to 77 : [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72]

Do you want to continue? (yes/no):  yes
Enter an integer between 0 and 9:  7
Enter another integer between 0 and 255:  88

Multiples of 7 up to 88 : [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84]

Do you want to continue? (yes/no):  no